// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.administration {
  .post-wrapper {
    margin-bottom: 15px;
    
    .post-wrapper-upper {
      margin-bottom: 0px;
      
      .post-title {
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;

        a {
          color: #333333;
        }
      }

      .post-info {
        font-size: 17px;
        font-style: italic;
        color: #b3b3b1;

        a {
          color: #b3b3b1;
        }
      }

      .img-author {
        float: right;
        width: 60px;
        height: 60px;
        background: #CCC;
      }
    }

    .post-content {
      p {
        font-size: 17px;
        line-height: 22px;
        line-height: 1.2;
      }
    }
  }

  .post-wrapper-show {
    margin-bottom: 50px;

    .posts-available-states {
      margin: -20px 0px 20px;
      background-color: #666;

      .post-available-state {
        padding: 6px 10px;
        float: left;

        a {
          color: #EEE;
        }
      }  
    }
    
    .post-wrapper-upper {
      margin-bottom: 15px;
      
      .post-title {
        margin-bottom: 2px;

        a {
          color: #333333;
        }
      }

      .post-info {
        font-size: 17px;
        font-style: italic;
        color: #b3b3b1;

        a {
          color: #b3b3b1;
        }
      }

      .img-author {
        float: right;
        width: 80px;
        height: 80px;
        background: #CCC;
      }
    }

    .post-content {
      p {
        font-size: 17px;
        line-height: 22px;
        line-height: 1.2;
      }
    }
  }
}

.not-posts {
  color: #b3b3b1;
  font-size: 17px;
  font-style: italic;
}
