.post-wrapper
  .row-fluid.post-wrapper-upper
    .span9
      %h2.post-title
        = link_to post.title, post
      %p.post-info
        = "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    .span3
      %img.img-circle.img-author
  %p.post-content
    = post.body
