.admin-menu.clearfix
  .admin-menu-item
    = link_to 'Users', new_post_path
  .admin-menu-item
    = link_to 'Unauthorized posts', new_post_path
  .admin-menu-item
    = link_to 'Pending posts', new_post_path
