#general_wrapper {
  width: 960px;
  margin: 0 auto;
}

.general_container {
  width: 95% !important;
}

input, textarea {
  border-radius: 0px !important;
}

input[type="text"], input[type="password"], input[type="email"] {
  height: 30px !important;
  line-height: 25px !important;
}

.btn {
  height: 42px;
}

input[type="submit"].btn-large {
  font-size: 15.5px !important;
}

.alert {
  margin-bottom: 35px !important;
}

.actions {
  margin-top: 20px;
}

.blog-title-image {
  max-width: 200px;
  max-height: 100px;
}
