header {
  padding: 10px 0px 10px;
  margin-bottom: 30px;
  
  .header-container {
    width: 960px;
    margin: 0 auto;

    h1 {
      margin: 0px;
      font-size: 50px;
      line-height: 60px;

      a {
        color: #999;
      }
    }

    .menu_list {
      float: right;
      margin-top: 10px;

      .menu_item {
        background: #333333;
        padding: 6px 10px;

        a {
          color: #EEE;
        }
      }
    }
  }
}
