.header-container
  = render :partial => "layouts/rails_blog/application/header/menu"
  %h1
    - if RailsBlog.blog_title_image
      = link_to image_tag(RailsBlog.blog_title_image, class: "blog-title-image"), root_path
    - else
      = link_to RailsBlog.blog_title, root_path
    %small= RailsBlog.small_blog_title
