.search-wrapper
  %input{:type => "text", :placeholder => "Search..."}

= render :partial => "layouts/rails_blog/application/sidebar_widgets/about_us"
= render :partial => "layouts/rails_blog/application/sidebar_widgets/latest_posts"
