= render :partial => "layouts/rails_blog/application/sidebar_widgets/search"
= render :partial => "layouts/rails_blog/application/sidebar_widgets/about_us"
= render :partial => "layouts/rails_blog/application/sidebar_widgets/latest_posts"
