<div class="latest-posts-wrapper sidebar-widget">
  <h4>Latest posts</h4>
  <ul class="latest-posts-list">
    <% Rails.cache.fetch('latest_posts'){ RailsBlog::Post.limit(8) }.each do |post| %>
      <li>
        <%= link_to post.title, custom_post_path(*post.url_params) %>
      </li>
    <% end %>
  </ul>
  <div class="offset1">
    <%= link_to "All our posts ...", archive_path %>
  </div>
</div>
