.wrapper-profile {
  h3 {
    small {
      font-size: 18px;
    }
  }

  form {
    .wrapper-user-photo {
      margin: 25px 0px;

      a {
        width: 160px;
        height: 150px;
        display: block;

        img {
          width: 150px;
          height: 150px;
          border-radius: 0px;
        }
      }
    }
  }
}
