.administration
  .post-wrapper
    .row-fluid.post-wrapper-upper
      .span9
        %h3.post-title
          = link_to post.title, custom_post_path(*post.url_params)
        %p.post-info
          = link_to post.user.name, post.user
          = post.published_at_description
      .span3
        = link_to gravatar_image_tag(post.user.email, :alt => post.user.name, :class => 'img-circle img-author', :gravatar => { :size => 60 }), post.user
